* {
    font-family: "Montserrat", sans-serif;
  }
  body {
    background-color: black;
  }

  #header_two {
    background-color: rgb(231, 223, 223);
    display: flex;
    width: 85%;
    justify-content: space-around;
    height: 30px;
    margin-left: 7%;
    margin-top: 7.8%;
    color: rgb(82, 87, 87);
    position: fixed;
    padding: 0.5%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  #header_data {
    display: flex;
    border-radius: 10px;
    position: fixed;
    height: 150px;
    margin-left: 7%;
    margin-top: 10.9%;
    width: 86%;
    justify-content: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  #append_div1 {
    width: 10%;
    padding: 2%;
    padding-top: 2%;
    color: grey;
  }
  #append_div1:hover {
    background-color: rgb(212, 207, 207);
    border-bottom: 3px solid rgb(219, 11, 11);
  }

  .hover_top:hover {
    color: rgb(233, 8, 8);
    border-bottom: 3px solid rgb(219, 11, 11);
  }
  /*  */
  #select_sorting {
    background-color: white;
    margin-top: 350px;
    margin-left: 76%;
    padding: 0.7%;
    font-size: 110%;
    border-radius: 20px;
    font-weight: 600;
    margin-bottom: 3%;
  }

  /*  */
  #all_product {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3%;
    row-gap: 5%;
    width: 80%;
    margin-left: 11%;
  }
  #img91 {
    height: 200px;
    width: 96%;
    padding: 2%;
    background-color: white;
  }
  #div91 {
    border: 0.5px solid rgb(240, 230, 230);
    background-color: rgb(233, 233, 233);
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 350px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
      rgba(17, 17, 26, 0.1) 0px 16px 56px,
      rgba(17, 17, 26, 0.1) 0px 24px 80px;
  }
  #div92 {
    font-size: 100%;
    font-weight: 600;
    padding-top: 2%;
    padding-bottom: 4%;
    height: 70px;
  }
  #div94 {
    padding-top: 1%;
    padding-bottom: 3%;
    font-size: 100%;
    font-weight: 700;
  }
  #div95 {
    font-size: 100%;
    font-weight: 800;
    width: 100%;
    height: 30px;
    background-color: rgb(49, 49, 49);
    color: white;
    padding-top: 3%;
  }